d='limitations'></a>Upgrade ##

###**v1.1**

**Release Date: 24th June 2016**

Features included in this release:

 - Added support for AppDynamics **Database Monitoring**
 - Added support for AppDynamics **Transaction Analytics**
 - **Web Proxy Config** is now a separate configuration tab
 - Updated the stem cell version to **3146.12**

**How to upgrade ?**

- In the Ops Manager, import the new tile binary using **Import a Product** button
      ![Import Product](../images/Ops_Manager1.png)
- Once imported, click on **Upgrade** button on the left panel for AppDynamics
        ![Upgrade](../images/upgrade_button.png)
- Configure the following sections
- [Database Monitoring Config](database_monitoring.html)
- [Transaction Analytics Config](transaction_analytics.html)
- If stem-cell is not upgraded, the tile will prompt you to update the stem cell to version **3146.12**

Save these configuration changes to the tile. On the Ops-Manager dashboard click on **Install Changes** button to install the updates.
