---
title: AppDynamics APM
owner: Partners
---

This is documentation for the Pivotal Cloud Foundry&reg; [AppDynamics APM](https://network.pivotal.io/products/p-appdynamics) tile.

AppDynamics APM supports performance monitoring of application and machine metrics. AppDynamics agent code embedded or bundled with an application instruments the application code and publishes performance monitoring metrics and other details back to the AppDynamics APM Dashboard.

##<a id='product-snapshot'></a>Product Snapshot ##

<dl>
<dt>Current <a href="https://network.pivotal.io/products/p-appdynamics">AppDynamics APM tile</a> for Pivotal Cloud Foundry&reg; details:</dt>
<dd><strong>Version</strong>: 1.0</dd>
<dd><strong>Release Date</strong>: 2015-12-17</dd>
<dd><strong>Software component version</strong>: AppDynamics Service Broker 1.0</dd>
<dd><strong>AppDynamics Machine Agent Version</strong>: 4.1.5.3</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.5.x, 1.6.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.4.x, 1.5.x, 1.6.x</dd>
<dd><strong>Compatible AppDynamics Controller Version(s)</strong>: 4.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

##<a id='trial'></a>Trial License ##

Users interested in AppDynamics can sign up for a [free trial license](https://portal.appdynamics.com/account/signup/signupForm).

##<a id="install"></a> Installing and Upgrading ##
  * [Installing and Configuring AppDynamics APM](installing.html)
  * [Upgrading to AppDynamics APM v.1.0.1](upgrade.html)

##<a id='offline-dependencies'></a>Packaging Dependencies for Offline Buildpacks##

If you are running PCF in an offline manner, you should recreate and package the dependencies, including AppDynamics agent binaries via offline buildpacks, in your PCF environment.

Review the [Packaging Dependencies for Offline Buildpacks](../pivotalcf/1.6/buildpacks/depend-pkg-offline.html) topic for more information.

* Currently supported Buildpacks bundling AppDynamics Agent are the Java and PHP Buildpacks.
    * Java Buildpack 3.4 and later
      * Use the latest buildpack or online Java buildpack (use `-b https://github.com/cloudfoundry/java-buildpack` or specify via manifest) when pushing apps that would consume the AppDynamics Services
    * PHP Buildpack
       * Use the custom AppDynamics PHP Buildpack https://github.com/Appdynamics/php-buildpack which identifies the AppDynamics service
    * NodeJS Buildpack
       * Use the custom AppDynamics NodeJS Buildpack https://github.com/Appdynamics/nodejs-buildpack which identifies the AppDynamics service
    * IBM WebSphere Liberty Buildpack
       * Use the custom AppDynamics NodeJS Buildpack https://github.com/Appdynamics/ibm-websphere-liberty-buildpack which identifies the AppDynamics service
* Similar support would be built for other language buildpacks in future releases.

##<a id='feedback'></a>Feedback ##

Please provide any bugs, feature requests, or questions to the Pivotal Cloud Foundry Feedback list.


